<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Welcome to <%= title %>
      <div><a href='/login'>login</a></div>
      <div><a href='/logout'>logout</a></div>
      <div><a href='/member_only'>member_only</a></div>
    </p>
  </body>
</html>
