<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <form action='/login' method='post'>
        <div><input type='text' name='email', placeholder='Email'></div>
        <div><input type='password' name='password', placeholder='Password'></div>
        <div><input type='submit' value='Login'></div>
      </form>
    </p>
    <% if (message) { %>
      <p style='color: red;'><%= message %></p>
    <% } %>
  </body>
</html>
